// =============================================================================
// ^SETTING.THEMES
// =============================================================================
// @todo Legacy
$portage: #8f88f7;
$linear-portage: linear-gradient(to right, #a18cd1, #fbc2eb);

$ekzo-colors: (
  'black': #222c3a,
  primary: $portage,
  linear-primary: $linear-portage,
  'ivory': #f6f9fc
);

$base-text: ekzo-color('black');

@include ekzo-extend-themes(base, (

  // -----------------------------------------------------------------------------
  // Background
  // -----------------------------------------------------------------------------

  bg: ekzo-color('ivory'),

  // -----------------------------------------------------------------------------
  // Text
  // -----------------------------------------------------------------------------

  text: $base-text,

  // -----------------------------------------------------------------------------
  // Links
  // -----------------------------------------------------------------------------

  links: ekzo-color(primary),
  links-hover: ekzo-tint(ekzo-color(primary), 20),

  // -----------------------------------------------------------------------------
  // Headings
  // -----------------------------------------------------------------------------

  headings: null,
  extra-headings: null,

  // -----------------------------------------------------------------------------
  // Selection
  // -----------------------------------------------------------------------------

  selection: null,
  selection-bg: null,

  // -----------------------------------------------------------------------------
  // Forms
  // -----------------------------------------------------------------------------

  forms: $base-text,
  forms-placeholder: ekzo-tint($base-text, 75),
  forms-border: rgba($base-text, .15),
  forms-bg: #fff,

  // -----------------------------------------------------------------------------
  // Horizontal line
  // -----------------------------------------------------------------------------

  hr: ekzo-tint(#fff, 10),

  // -----------------------------------------------------------------------------
  // Buttons
  // -----------------------------------------------------------------------------

  btn: ekzo-color('ivory'),
  btn-bg: ekzo-color(primary),

))
